target
node
node_modules
.idea
*.iml
.classpath
.project
.settings
.tmp
.merge_file*
.sass-cache
.DS_Store
src/main/webapp/dist
src/main/webapp/bower_components
src/main/webapp/styles
src/main/resources/config/*.yml
src/test/resources/config/*.yml
src/main/resources/config/liquibase/*.csv
.gradle
build
