<div ng-cloak class="row margin-top-lg">
    <div class="lucky-item well load-transition col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1" ng-init="getAnotherLuckyItem()">
        <h5>Congratulations! You found a(n) <span class="{{ 'tier-' + item.star }}">{{ item.tier }}</span> item</h5>
        <img ng-src="{{ item.path }}" alt="{{ item.name }}" />
        <p class="lead {{ 'tier-' + item.star }}">{{ item.name }}</p>
        <p>
            <span ng-repeat="i in getNumber(item.star) track by $index" class="item-star glyphicon glyphicon-star"></span>
        </p>
        <p class="unique" ng-show="item.star == 6">This is the only one in the world! You are really lucky!</p>
        <p>{{ item.description }}</p>

        <a href ng-click="getAnotherLuckyItem()"><button class="btn btn-default margin-top-lg" aria-label="One More">One more</button></a>
    </div>

    <div class="row" ng-show="!isAuthorized(userRoles.user)">
        <p class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
            Or you can login <a href="#/login?redirect=%2Fitems">here</a> with login: <strong>user</strong>
            and password: <strong>user</strong> to check out all the items
        </p>
    </div>

</div>
