<div ng-cloak>

    <div class="background-img img-responsive text-center">
        <div>
            <h1>Welcome to my website</h1>
            <p class="lead">This world is strange</p>
            <a href="#/lucky"><button class="btn btn-default btn-lg" aria-label="Lucky">I'm Lucky</button></a>
        </div>
    </div>

    <div class="text-center" itemscope itemtype="http://schema.org/AboutPage">
        <div class="about col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
            <h1>About Me</h1>
            <p itemprop="about">
                I graduated from University of South Florida as Master of Science in Computer Science May 2013.
                Now I am doing a programming job in United States. What I know about Computer Science is still a little.
                So I always want to learn more and more.
            </p>
            <p>
                If you has any comment about this website or me, please feel free
                to leave a message or directly send me an email (tianwen[at]tianwendong.com). Thank you.
            </p>
        </div>
    </div>
</div>
