<div ng-cloak>

    <div class="background-img img-responsive">
        <div class="container text-center">
            <h1>Welcome to my website</h1>
            <p class="lead">This world is strange</p>
            <a href="#/lucky"><button class="btn btn-default btn-lg">I'm Lucky</button></a>

            <!--<div ng-switch="authenticated">-->
                <!--<div class="alert alert-success" ng-switch-when="true"-->
                     <!--translate="main.logged.message" translate-values="{username: '{{account.login}}'}">-->
                    <!--You are logged in as user "Admin".-->
                <!--</div>-->

                <!--<div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.authenticated">-->
                    <!--If you want to <a href="#/login">authenticate</a>, you can try the default login="admin" and-->
                    <!--password="admin".-->
                <!--</div>-->

                <!--<div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.register">-->
                    <!--Don't have an account? <a href=\"#/register\">Register</a>-->
                <!--</div>-->
            <!--</div>-->

        </div>
    </div>

    <div class="container text-center">
        <div class="about col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
            <h1>About Me</h1>
            <p>
                I graduated from University of South Florida as Master of Science in Computer Science May 2013.
                Now I am doing a programming job in United States. What I know about Computer Science is still a little.
                So I always want to learn more and more.
            </p>
            <p>
                If you has any comment about this website or me, please feel free
                to leave a message or directly send me an email. Thank you.
            </p>
        </div>
    </div>
</div>
