<div>

    <h2>Messages</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Nickname</th>
                    <th>Content</th>
                    <th>Created Time</th>
                    <th>Ip Address</th>
                    <th>User Agent</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="message in messages">
                    <td>{{message.id}}</td>
                    <td>{{message.email}}</td>
                    <td>{{message.nickname}}</td>
                    <td>{{message.content}}</td>
                    <td>{{message.formattedCreatedTime}}</td>
                    <td>{{message.ipAddress}}</td>
                    <td>{{message.userAgent}}</td>
                    <td>
                        <button type="submit"
                                ng-click="delete(message.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
