<div>
    <div class="btn-toolbar" role="toolbar" aria-label="Pagination Bar">
        <button class="btn-group btn btn-default"
                role="group"
                ng-click="previous(pagination.currentPage)"
                ng-disabled="pagination.isFirst"
                aria-label="Previous"><span class="glyphicon glyphicon-chevron-left"></span></button>
        <button class="btn-group btn btn-default" role="group" aria-label="Go to page {{ $index }}"
                ng-repeat="i in getNumber(pagination.totalPages) track by $index"
                ng-click="goToPage($index)"
                ng-disabled="$index == pagination.currentPage">
            {{ $index + 1 }}
        </button>
        <button class="btn-group btn btn-default"
                role="group"
                ng-click="next(pagination.currentPage)"
                ng-disabled="pagination.isLast"
                aria-label="Next"><span class="glyphicon glyphicon-chevron-right"></span></button>
    </div>
</div>
